body {
  width: 100%;
  max-width: 500px;
  margin: 20px auto 0 auto;
  margin-top: 5% !important;
}

#me {
  position: fixed;
  bottom: 20px;
  left: 20px;
  height: 10%;
  z-index: 100;
}

span {
  position: relative;
  opacity: 0
}
