<h2>projects</h2>

<p>
i designed and built the homepage for <a target='_blank' href='http://www.morphosis.com'>morphosis architects</a>.
</p>

<p>
<a target='_blank' href='http://coopermayne.github.io/turtles_in_angular/app/index.html#/'>l-systems</a>
is a angular app that helps you explore the beautiful world of Lindenmayer systems. 
<a target='_blank' href='https://github.com/coopermayne/turtles_in_angular'>github</a>
</p>

<p>
<a target='_blank' href='http://coopermayne.github.io/surrounding_game'>surrounding game</a>
is a puzzle that teaches people the rules of go. (note: work in progress)
<a target='_blank' href='https://github.com/coopermayne/surrounding_game'>github</a>
</p>

<p>
<a target='_blank' href='https://word-web.herokuapp.com/'>wordweb</a>
is an interactive visualization of the etymological connections between english words.
<a target='_blank' href='https://github.com/coopermayne/wordweb'>github</a>
</p>

<p>
<a target='_blank' href='https://the-worlds-story.herokuapp.com/'>the world's story</a>
is a crowd sourced novel.
<a target='_blank' href='https://github.com/coopermayne/cloud_novel'>github</a>
</p>
