<h2>contact and info</h2>
<p>
  <a href="mailto:coopermayne@gmail.com?Subject=Hey" target="_top">coopermayne@gmail.com</a> <br />
  <a href="http://www.github.com/coopermayne" target="_blank">github.com/coopermayne</a><br />
</p>
<img id="me" src="/me2.png" alt="cooper mayne" />
