<h2>bio</h2>

<p>
  used to make websites. now i practice civil rights law at <a target="_blank" href="https://www.galipolaw.com/cooper-alison-mayne/">Law Offices of Dale K. Galipo</a>.
</p>

<h2>favorite words</h2>

<p>
  <strong>cornobble:</strong> hit in the face with a fish
</p>

<p>
  <strong>floccinaucinihilipilification:</strong> the action or habit of judging something to be worthless.
</p>

<p>
  <strong>sciography:</strong> the study of shadows
</p>

<p>
  <strong>deipnosophist:</strong> a person who is adept at conversing at the dinner table
</p>
